.maps-header {
    display: flex;

    justify-content: space-between;

    align-items: center;


    margin-bottom: 20px;

    border: 1px solid #ccc;

    border-radius: 15px;

    padding: 15px 20px;

    width: 100%;
    height: fit-content;
}

.maps-header h3 {
    font-size: 22px;
}

.maps-header button {
    border: none;
    border-radius: 10px;

    padding: 10px 20px;

    background-color: #55e729;
    color: rgb(255, 255, 255);

    display: flex;

    gap: 5px;

    align-items: center;

    cursor: pointer;

    font-size: 24px;
    font-weight: bold;

    transition: background-color 0.2s ease;
}

.maps-header button:hover {
    background-color: #00b300;
}

.maps-list {
    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100%;

    gap: 15px;

    padding: 30px 0;

    border: 1px solid #ccc;
    border-radius: 15px;
}

.maps-list h2 {
    margin-left: 5%;
    margin-right: auto;

    font-size: 28px;

    font-weight: bold;
}

.maps-list .maps-item {
    display: flex;

    justify-content: space-between;

    align-items: center;

    border: 1px solid #ccc;

    border-radius: 15px;

    width: 85%;

    height: fit-content;

    padding: 10px 20px;
}

.maps-item h4 {
    margin: 0;

    font-size: 22px;
}

.maps-item p {
    /* top, right, bottom, left */
    margin: 0 auto 0 15px;

    font-size: 18px;
}

.maps-item button {
    border: none;
    border-radius: 10px;


    display: flex;

    gap: 5px;

    align-items: center;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.maps-item .btn-select {
    background-color: #55e729;
    color: rgb(255, 255, 255);

    padding: 8px 24px;

    font-size: 24px;
    font-weight: bold;

    margin-right: 15px;

    height: 100%;
}

.maps-item .btn-select.selected {
    pointer-events: none;

    background-color: #18632a;
    color: rgb(138, 138, 138);
}

.maps-item .btn-select:hover {
    background-color: #00b300;
}

.maps-item .btn-delete {
    background-color: #dc3545;
    color: rgb(255, 255, 255);

    padding: 8px 8px;
}

.maps-item .btn-delete:hover {
    background-color: #a71d2a;
}


.modal-background {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;

    justify-content: center;

    align-items: center;
}

.modal-content {
    background-color: var(--bg);
    border: 1px solid var(--accent-border);

    border-radius: 15px;

    display: flex;
    flex-direction: column;

    gap: 15px;

    text-align: left;

    padding: 20px;

    width: 400px;
    height: fit-content;
}

.modal-content h2 {
    margin: 0 0 15px;

    font-weight: bold;

    font-size: 28px;
}

.modal-content .btn-area {
    display: flex;

    gap: 10px;
}

.btn-area .submit,
.btn-area .cancel {
    border: none;
    border-radius: 10px;

    padding: 8px 0;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.modal-content form {
    display: flex;

    flex-direction: column;

    gap: 10px;
}

.modal-content input[type="text"] {
    width: 93.5%;
    padding: 8px 12px;

    border: 1px solid var(--accent-border);
    border-radius: 10px;

    background-color: var(--bg);

    font-size: 16px;
}

.modal-content input[type="checkbox"] {
    width: 20px;
    height: 20px;

    accent-color: var(--accent-border);
}

.modal-content select {
    width: 100%;
    padding: 8px 12px;

    border: 1px solid var(--accent-border);
    border-radius: 10px;

    background-color: var(--bg);

    font-size: 16px;
}

.modal-content p {
    margin: 0;
}

.btn-area .submit {
    flex: 2;

    background-color: #55e729;
    color: rgb(255, 255, 255);
}

.btn-area .submit:hover {
    background-color: #00b300;
}

.btn-area .cancel {
    flex: 1;
    background-color: #dc3545;
    color: rgb(255, 255, 255);
}

.btn-area .cancel:hover {
    background-color: #a71d2a;
}

.modal-content .drag-and-drop {
    border: 2px dashed #ccc;

    border-radius: 10px;

    padding: 20px;

    text-align: center;

    color: #888;
}