.trash-list {
    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100%;

    gap: 15px;

    padding: 30px 0;

    border: 1px solid #ccc;
    border-radius: 15px;
}

.trash-list h2 {
    margin-left: 5%;
    margin-right: auto;

    font-size: 28px;

    font-weight: bold;

}

.trash-list .trash-item {
    display: flex;

    justify-content: space-between;

    align-items: center;

    border: 1px solid #ccc;

    border-radius: 15px;

    width: 85%;

    height: fit-content;

    padding: 10px 20px;
}

.trash-item h4 {
    margin: 0;

    font-size: 22px;
}

.trash-item p {
    /* top, right, bottom, left */
    margin: 0 auto 0 15px;

    font-size: 18px;
}

.trash-item button {
    border: none;
    border-radius: 10px;

    padding: 8px 24px;

    font-size: 24px;
    font-weight: bold;

    display: flex;

    gap: 5px;

    align-items: center;

    cursor: pointer;

    background-color: #f98118;
    color: white;

    transition: background-color 0.2s ease;
}

.trash-item button:hover {
    background-color: #c66b14;
}