.container {
	display: grid;

	grid-template-areas:
		"sidebar header header"
		"sidebar main main"
		"sidebar main main";

	grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: auto 1fr 1fr;

	height: 100vh;
}

.sidebar {
	grid-area: sidebar;
	padding: 20px;

	border-bottom: 1px solid var(--border);

	height: auto;

	display: flex;
	flex-direction: column;
}

.sidebar h2 {
	margin-top: 0;
	margin-bottom: 40px;
}

.sidebar p {
	margin-top: auto;

	font-size: small;

	margin-bottom: 0;
}

.sidebar ul {
	gap: 10px;

	padding-left: 20px;

	margin-right: 20px;

	list-style: none;

	display: flex;
	flex-direction: column;
}

.sidebar ul li::before {
	content: "•";

	color: var(--accent);

	margin-right: 10px;
}

.sidebar a {
	text-decoration: none;
	color: inherit;
}

.sidebar a.selected {
	color: var(--accent);
}

.sidebar ul li {
	padding: 10px;

	text-align: left;

	border: 2px solid var(--border);

	border-radius: 5px;

	transition: all 0.3s ease;
}

.sidebar ul li:hover {
	cursor: pointer;

	background-color: var(--hover);

	border-color: var(--accent);

	scale: 1.05;
}

.header {
	grid-area: header;
	padding: 20px;

	border-left: 1px solid var(--border);
	border-bottom: 1px solid var(--border);

	display: flex;

	align-items: center;

	gap: 20px;
}

header h3 {
	margin-right: auto;
}

main {
	grid-area: main;

	padding: 25px;

	display: flex;

	gap: 25px;

	flex-wrap: wrap;

	border-left: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
}

.sidebar ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.sidebar ul li a:visited {
	color: inherit;
}